<!DOCTYPE html>
<html>
<head>
<link = rel="stylesheet" href="project.css">
</head>
<body>
<ul class="slideshow">
  <li><span>Image 01</span><div><h3>tRaVeL-PeDiA</h3></div></li>
   <li><span>Image 02</span><div><h3>tRaVeL-PeDiA</h3></div></li>
   <li><span>Image 03</span><div><h3>tRaVeL-PeDiA</h3></div></li>
   <li><span>Image 04</span><div><h3>tRaVeL-PeDiA</h3></div></li>
   <li><span>Image 05</span><div><h3>tRaVeL-PeDiA</h3></div></li>
  


</ul>
  <div class="container">
    <header>
      <form method="post">
        <label>Please take a couple of seconds to sign up to proceed.</label><br>
        <br>
        <br>
        <label>Name</label><br>
        <input type="Name"name="Name"
        value = "Name "/><br>
        <br>
        <label>Email</label><br>
        <br>
        <input type="Email" name="Email" value="Email"><br>
        <br>


   <label id="agree">I agree to the terms</label><input id="checkbox"type="Checkbox" name="Agree-to-terms"><br>
         <button type="Submit">Complete Sign Up</button>

       <button type="Skip">Skip</button>
      </form>
      </header>
</div>
t>


</body>
</html> 